<configuration>
    <includes>
        <include resource="assets/logback-console.xml"/>
    </includes>

    <property name="LOG_DIR" value="/sdcard/Android/data/io.taucoin.torrent.publishing/logs" />

    <timestamp datePattern="yyyyMMdd" key="today"/>

    <!-- Create a file appender for DEBUG-level messages -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>

        <file>${LOG_DIR}/tau.latest.log</file>
        <append>true</append>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/tau.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="io.taucoin.torrent.publishing.core.utils.LogbackSizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="test" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <root level="TRACE">
        <appender-ref ref="file" />
    </root>

</configuration>
