<configuration>
    <includes>
        <include resource="assets/logback-console.xml"/>
    </includes>

    <property name="LOG_DIR" value="/sdcard/Android/data/io.taucoin.torrent.publishing/logs" />

    <timestamp datePattern="yyyyMMdd" key="today"/>

    <!-- Create a file appender for DEBUG-level messages -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <file>${LOG_DIR}/tau.${today}.log</file>
        <append>true</append>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/tau.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="io.taucoin.torrent.publishing.core.utils.LogbackSizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="core" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="net" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="http" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="sync2" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="discover" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="db" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="peerdiscovery" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="io.netty" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="wire" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="wallet" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="dump" level="OFF">
        <appender-ref ref="file" />
    </logger>

    <logger name="trie" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="block" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="blockqueue" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="general" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="peermonitor" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="main" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="state" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="repository" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="blockchain" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="txs" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="forge" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="execute" level="INFO">
        <appender-ref ref="file" />
    </logger>

    <logger name="hsqldb.db" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <logger name="test" level="ERROR">
        <appender-ref ref="file" />
    </logger>

    <root level="INFO">
        <appender-ref ref="file" />
    </root>

</configuration>
