<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.taucoin.torrent.publishing"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="replace" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
<!--    <uses-feature android:name="android.software.leanback"-->
<!--        android:required="false" />-->

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.search.SearchActivity"/>

        <activity
            android:name=".ui.community.CommunityActivity"/>

        <activity
            android:name=".ui.community.CommunityCreateActivity"/>

        <activity
            android:name=".ui.contacts.ContactsActivity"/>

        <activity
            android:name=".ui.setting.SettingActivity"/>

        <activity
            android:name=".ui.setting.NotificationSoundsActivity"/>

        <activity
            android:name=".ui.setting.PrivacySecurityActivity"/>

        <activity
            android:name=".ui.setting.DataStorageActivity"/>

        <activity
            android:name=".ui.setting.BlacklistActivity"/>

        <activity
            android:name=".ui.user.SeedActivity"/>

        <activity
            android:name=".ui.user.SeedChangeActivity"/>

    </application>

</manifest>